@use '../root/root.scss' as root;
.header{
    margin-top: 13px;
    position: relative;
    & .social{
        display: flex;
        gap: 10px;
        & a {
            display: flex;
        }
    }
    & .address{
        display: flex;
        align-items: center;
        gap: 20px;
        min-height: 35px;
    }
    & .contact{
        display: flex;
        align-items: center;
        gap: 20px;
        & span{
            @include root.p2;
            font-weight: 500;
        }
    }
    & address{
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        & a{
            @include  root.p1;
            font-weight: 500;
            color: root.$text-color-accent;
            transition: 0.6s ease;
        }
        & p{
            font-weight: 500;
        }
        & svg{
            fill: root.$accent-color;
            transition: 0.6s ease;
             &:hover{
                fill: root.$accent-color-hover;
            }
            
        }
      
    }
         & nav{
            display: flex;
            align-items: center;
            justify-content: center;
            color: root.$text-color-info;
            & ul{
                display: flex;
                gap: 40px;
                margin: 11px 0 20px;
            }
        }
      &__logo{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
        }

    &__menu{
         & nav{
            display: none;
         }
         display: flex;
         justify-content: space-between;
         align-items: center;
         & .burger-menu{
            height: 24px;
            display: none;
            width: 24px;
            position: relative;

            &::after{
                content: '';
                position: absolute;
                top: 7px;
                height: 2px;
                background:  root.$accent-color;
                width: 100%;
            }
            
            &::before{
                content: '';
                position: absolute;
                bottom: 7px;
                height: 2px;
                background:  root.$accent-color;
                width: 100%;
            }
         }
    }

}